@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 65, 85;
  --background-rgb: 255, 255, 255;
  --accent-rgb: 59, 130, 246;
  --accent-light-rgb: 219, 234, 254;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 226, 232, 240;
    --background-rgb: 255, 255, 255;
    --accent-rgb: 59, 130, 246;
    --accent-light-rgb: 219, 234, 254;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} 